* {
    box-sizing: auto;
    /*background-color: rgb(246, 227, 200);*/
    /*background-attachment: fixed;*/
  }

:root { /* is html element, but has higher weight */
    /* css variables MUST start with -- */
    --primary-color: #2d201c;
    --primary-color-hover: black;
}

@media screen and (max-width:842px){


.container{
    flex-direction:column;
}

}

/* Explore BC Project - Starter Styles */
body {
    font-family: Arial, sans-serif;
    width: auto;
    /*background: linear-gradient(#c8e7e9, #d6f7ff, #97d1e7);*/
    background-attachment: fixed;
    max-width:100%;
    height:auto;
    margin:auto;
   
    /*background: linear-gradient(to right, #95d5f3, #d2e5f3);*/
}

/* Add your styles here */
.lp {
    font-size: clamp(0.8rem, 2vw, 1.3rem);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 25px;
    background-color: white;
    border-bottom: #f5893b 7px solid;
    /*background: linear-gradient( #f5893b,  #fda218, #f7d352);*/
    /*background: linear-gradient(to right,#dffcff, #4cd2fd, #1eaafa , #00497c);*/
}

nav.nav-links {
    background: transparent;
}


.nav-links ul {
    background-color: transparent;
    display: flex;
    list-style: none;
    gap: 15px;
    padding: 0;
}



a.n{
    text-decoration: none;
    color: #030304;
    background-color: transparent;
}

a.n:hover{
    background: transparent;
    color: #1f2439;
}

.logo {
    display: flex;
    font-family: 'Dancing Script', cursive;
    font: 40px;
    font-weight: bold;
    color: #030304;
    background-color: transparent;
    font-size: clamp(1rem, 5vw, 3rem);
}

.hero{
    position: relative;
    display: flex;
}

.hero .overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.45);
}

.hero img{
    width:100%;
    height:350px;
    object-fit:cover;
}

.hero h1,
.hero p{
    font-size: clamp(1rem, 5vw, 2rem);
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    color:white;
    text-align:center;
}

.hero h1{
    padding: 1rem;
    font-size: clamp(1rem, 5vw, 3rem);
    top: 30%;
}
.hero p{
    padding: 1rem;
    font-size: clamp(0.8rem, 2vw, 1.3rem);
    margin: 55px 0;
}

.contact_us{
    display: flex;
    
}

.btn1 {
    text-decoration: none;
    position: relative;
    left:50%;
    top: -50px;
    transform:translate(-50%,-50%);
    border-radius: 50px;
    padding: 10px 20px;
    border: none;
    background: #ef9656;
    color: white;
    cursor: pointer;
    font-size: clamp(0.7rem, 2vw, 1.3rem);
    z-index: 10;
}

.btn1:hover{
    opacity: 0.8;
    border: 1px solid white;
    box-shadow: 0 0 5px rgb(205,202,202);
    background-color: #f6ccd6;
    color: #1f2439;
}

main .container{
    display:flex;
    gap:20px;
    padding:20px;
}

.container section{
    display: block;
    flex:1;
    min-width:120px;
    overflow:hidden;
    position: relative;
    border-radius: 12px;
}

.container section::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 70%;
    background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.872),
        rgba(0, 0, 0, 0)
    );
    z-index: 1;
}


.container img{
    width:100%;
    height:600px;
    aspect-ratio: 4 / 3;
    object-fit:cover;
    border-radius:12px;
    cursor:pointer;
}

.container section:hover{
    transform:scale(1.05);
}

.container img:hover{
    filter:brightness(1.2);
    cursor: pointer;
}

.container section::after{
    content:"Click top to see the full picture.";
    position:absolute;
    top:20px;
    left:50%;
    transform:translateX(-50%);
    background:#ef9656;
    color:white;
    padding:5px 10px;
    border-radius:20px;
    font-size:14px;

    opacity:0;
    transition:0.3s;
    z-index:3;
}

.container section:hover::after{
    opacity:1;
}

.gallery{
    display:flex;
    gap:20px;
    justify-content:center;
}

.img{
    display: block;
    width:220px;
    cursor:pointer;
    border-radius:10px;
    transition:0.3s;
    border-top: #f5893b 7px solid;
}

.img:hover{
    transform:scale(1.05);
}

/* popup layer */
.overlay1{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.85);
    display:none;
    z-index: 1000;
}

/* show after click */
.overlay1:target{
    display:block;
}

/* big picture */
.full{
    max-width:80%;
    max-height:80%;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}

.container:target{
    display: flex;
}

.container section .btn{
    display: block;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    background: #ef9656;
    color: white;
    cursor: pointer;
    text-align:center;
    text-decoration: none;
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: -40px;
    z-index: 10;
    font-size: clamp(0.7rem, 2vw, 1.3rem);
}

.container section .btn:hover{
    opacity: 0.8;
    border: 1px solid white;
    box-shadow: 0 0 5px rgb(205,202,202);
    background-color: #f6ccd6;
    color: #1f2439;
}

    
.card-text{
    position: absolute;
    left: 20px;
    top: 230px;
    right: 20px;
    z-index: 2;
    color: white;
    width: 80%;
    
}

.card-text h3::after{
    position: absolute;
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background-color: #f5893b;
    margin-top: -1px;
    border-radius: 2px;
}


.footer{
    display: block;
    text-align: center;
    padding: 5px 0;
    background-color: #f5f5f5;
    color: #333;
    border-top: #f5893b 7px solid;
}

/*totem_pole*/
a.totem{
    position: fixed;
    bottom: -35px;
    right: -50px;
    z-index: 20;
}

.totem_pole{
    width: 260px;
    cursor: pointer;
    transition: 0.3s;
}

.totem_pole:hover{
    transform: scale(1.1);
}

.totem::after{
    content: "The world is so big,\A go and explore it.";
    /*changeanysentenceyouwant,(\A)meanslinebreak*/width:120px;
    white-space: pre-line;
    position: absolute;
    bottom: 90%;
    left: 50%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.872),
            rgba(0, 0, 0, 0)    
            );
    color: white;
    padding: 6px 10px;
    border-radius: 50px;
    font-size: 15px;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%,10px);
    cursor: pointer;
    /*animation: showBubble 10s ease infinite;*/
}

.totem:hover::after{
    opacity: 1;
    transform: translate(-50%,0);
}

/*START OF CSS STYLE for Contact.html page */


.contact-page{
    padding:60px 20px;
    background-color: #f5f5f5;
}
.contact-container{
   max-width:1000px;
   margin:auto;
   padding:50px;
   background: white;
   border-radius: 12px;
   box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}
/*.contact-container h1{
    text-align: center;
    margin-bottom: 10px;
}
*/
.contact-container h1{
    text-align: center;
    margin-bottom: 10px;
    color: #2d6a4f;
}
.contact-grid{
    display: flex;
    gap:60px;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 40px;
}
.info-item{
    display:flex;
    align-items:center;
    gap:12px;
    margin-bottom:18px;
}

.icon{
    width:28px;
}
.contact-info{
    width:35%;
    padding-left: 10px;
}
.contact-info h3{
    margin-bottom: 15px;
}
.contact-info p{
    margin-bottom: 15px;
    font-size: 1.1rem;
}
.contact-form{
    display:flex;
    flex-direction: column;
    width:60%;
}
.contact-form label{
    margin-bottom: 6px;
    margin-top: 6px;
    font-weight: bold;
    font-size: 1.1rem;

}

.contact-form input,
.contact-form textarea{
    padding: 12px;
    margin-bottom: 20px;
    border: 1px, solid #ccc;
    border-radius: 6px;
}
.contact-form button{
    padding: 12px;
    background: #2d6a4f;
    color:white;
    border: none;
    border-radius: 6px;
    cursor:pointer;
}
.contact-form button:hover{
    background:#1b4332;
}
.footer {
    background-color: #2d6a4f;
    color: white;
    text-align: center;
    padding: 18px;
    margin-top: 50px;
}
/*END OF CSS STYLE for Contact.html page */

/*START FOOD SECTION*/
.food-page {
    padding: 40px 20px;
  /* background-color: #d7e9e1;*/ 
}

.food-hero{
    background-color: white;
    padding: 40px 20px;
    border-radius: 12px;
    max-width: 1000px;
    margin: 0 auto 40px auto;
    text-align: center;
    
    box-shadow: 0 4px 12px rgba(0,0,0,0.12);
}


.food-hero h1 {
    font-size: 2.2rem;
    margin-bottom: 10px;
    color: #2d6a4f;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.15);
}

.food-hero p {
    font-size: 1.1rem;
}

.food-grid {
    max-width: 1100px;
    margin: 0 auto 40px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
}

.food-card {
    width: 250px;
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    border-top:8px solid #ef9656;
    
}
.food-card:hover{
transform: translateY(-6px);
box-shadow:0 10px 18px rgba(0,0,0,0.15);
}
.food-img{
width:100%;
height:170px;
object-fit:cover;
border-radius:10px 10px 0 0;
}

.food-card-text {
    padding: 18px;
}

.food-card-text h3 {
    margin-bottom: 10px;
    color: #2d6a4f;
}

.extra-food-info{
background:#d7e9e1;
padding:30px 20px;
max-width:1100px;
margin:40px auto;
border-radius:12px;
}


.extra-food-info h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #0b0f0d;
}

.explore-boxes {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.explore-box {
    width: 240px;
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
    text-align: center;
}

.explore-box:hover{
transform: translateY(-6px);
box-shadow:0 10px 18px rgba(0,0,0,0.15);
}

.explore-box h3 {
    margin-bottom: 10px;
    color: #2d6a4f;
}


/*END FOOD SECTION*/


/*@keyframes showBubble{

    0%{
    opacity:0;
    transform:translate(-50%,10px);
    }
    
    40%{
    opacity:0;
    }
    
    50%{
    opacity:1;
    transform:translate(-50%,0);
    }
    
    80%{
    opacity:1;
    }
    
    100%{
    opacity:0;
    transform:translate(-50%,10px);
    }
    
    }
*/  



/*
main .container{
    display: flex;
    gap: 20px;
    padding: 20px;
}

.container section {
    width: 500px;
    height: 500px;
    overflow: hidden;
    border-radius: 12px;
    margin-left: -70px;
    transition: 0.4s;
    position: relative;
    cursor: pointer;
}

.container section:first-child {
margin-left: 0;
}

.container section img {
width: 100%;
height: 100%;
object-fit: cover;
display: block;
}


.container:hover section {
    margin-left: -70px;
}

.container section:hover {
margin-left: 0;
transform: scale(1.08);
z-index: 10;
}

.container section h3,
.container section p {
    position: absolute;
    left: 15px;
    color: white;
    z-index: 2;
}

.container section h3 {
  bottom: 40px;
}

.container section p {
  bottom: 15px;
  margin: 0;
}

.container section::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to top, rgba(0,0,0,0.6), transparent 45%);
}
*/

/*
.Whistler img {
    width: 200px;
    height: 500px;
    object-fit: cover;
    border-radius: 12px;
}

.Vancouver img {
    width: 200px;
    height: 500px;
    object-fit: cover;
    border-radius: 12px;
}

.Victoria img {
    width: 200px;
    height: 500px;
    object-fit: cover;
    border-radius: 12px;
}

.Tofino img {
    width: 200px;   
    height: 500px;
    object-fit: cover;
    border-radius: 12px;
}

.Kelowna img {
    width: 180px;
    height: 500px;
    object-fit: cover;
    border-radius: 12px;
}

.Revelstoke img {
    width: 200px;
    height: 500px;
    object-fit: cover;
    border-radius: 12px;
}
*/

/*add focus effects to input fields */

/*
.contact-us{
    font-size: 30px;
    text-decoration: none;
    padding: 8px 14px;
    border-radius: 15px;
    transition: 0.3s;
    background-color: white;
    color: black;
}

.contact-us:hover{
    opacity: 0.8;
    border: 1px solid white;
    box-shadow: 0 0 5px rgb(205,202,202);
    background-color: #000000;
    color: white;
}
*/
